[2017-08-17 07:03] soimy opened #1 "Artifacts on output texture atlas"
![hyheilizhitij regular 0](https://user-images.githubusercontent.com/1550237/29399791-34c13eca-835d-11e7-9acc-eed2b0d2ca45.png)

[2017-08-17 07:07] soimy commented on #1
msdfgen is very sensitive with minor false in font file(which is plenty in online fonts).
`filterContours` & `alignOrientation` methods in Commit 51277adcfdfeedca8f240091b2ec8723055e62c8  is introduced to fix these minor false. (Work in progress).

[2017-08-17 07:16] soimy opened #2 "Packing setting save & re-use needed."
Most of the time, packed atlas will have much spare space left. It's necessary and possible to reuse previous Atlas and settings to add a new font to it.

[2017-08-18 18:24] soimy commented on #2
Implemented in PR #3 . The only restriction is the original atlas cannot enlarge for now. Some work to be done in packing algorithm.

[2017-08-25 11:27] soimy commented on #2
In commit ee10592743d6b8ff1f64e81769f2ea07ecf0074e , update [maxrects-packer](https://github.com/soimy/maxrects-packer) to v1.2.0, packer sizing option is supported.

[2017-08-25 11:27] #2 closed

[2017-08-25 14:28] PrimaryFeather opened #4 "Dependency 'handlebars' missing"
After installing the tool, any attempt to run it produced the following error:

[code]

It was fixed by installing _handlebars_ manually via `npm install handlebars`. But I guess you can include that in the list of dependencies, right?

[2017-08-25 15:09] soimy commented on #4
Thank you for this bug report! Forget to move `handlebars` from `devDependencies` to `dependencie`
This is fixed in commit 369e582c8884274d807d822cd1d0276e0bd5ff38

[2017-08-25 15:14] PrimaryFeather commented on #4
Perfect! Thanks a lot for the quick fix! :smile:

[2017-08-25 15:14] #4 closed

[2017-08-26 13:37] subdan opened #5 "CLI doesn't work"
I get this error:

[code]

[2017-08-26 13:41] subdan commented on #5
Executable file from bin folder also doesn't work
`msdfgen.osx msdf -font Arial.ttf `

[code]

[2017-08-26 13:49] soimy commented on #5
@subdan can you confirm node.js executable is in your path? Just type `node -v` to confirm it.
`msdfgen.osx` is not the executable you want.

[2017-08-26 13:51] subdan commented on #5
[code]

[2017-08-26 14:00] soimy commented on #5
@subdan Thanks for the reporting, it seems an issue npm/npm#12371 and the recent version is published via windows. I'm fixing now

[2017-08-26 14:13] subdan commented on #5
Windows version of your CLI also doesn't work.
![screen shot 2017-08-26 at 17 12 48](https://user-images.githubusercontent.com/410293/29742111-dd7c2702-8a81-11e7-816d-8d8e3b9e9230.png)

[2017-08-26 14:14] subdan commented on #5
![screen shot 2017-08-26 at 17 14 12](https://user-images.githubusercontent.com/410293/29742120-035817b0-8a82-11e7-94c6-d743afafcc90.png)

[2017-08-26 14:31] soimy commented on #5
@subdan can you try re-install it? From your log it seems one of the core dependencies `node-canvas-prebuilt` download failed with a 404.

[2017-08-26 14:33] subdan commented on #5
Yes, I can but in an 1-2 hours.

[2017-08-26 14:46] soimy commented on #5
OSX `env: node\r: No such file or directory` issue should be fixed in f151c1958ff7520473c93f034fe1ae51979e0734
And now bump to new version `2.2.3` with new option `--tolerance`
Try update it via `npm update -g msdf-bmfont-xml`

[2017-08-26 15:24] soimy commented on #5
@subdan Just noticed that there is no `node-canvas-prebuilt` support for arch `ia32`, only `x64`. If you only have 32bit windows, you should manually install `node-canvas` instead. Here is how:
install [pre-requirement for windows ](https://github.com/Automattic/node-canvas/wiki/Installation---Windows), then:
[code]
in file `index.js` replace `const canvas = require('canvas-prebuilt')` to `const c

[2017-08-26 16:08] subdan commented on #5
Win: Re-install didn't help. I still get 404 error.
macOS: Now it works!

[2017-08-27 03:49] soimy commented on #5
I'm closing this issue after finding out `canvas-prebuilt` will not support `win32-ia32` arch

[2017-08-27 03:49] #5 closed

[2017-08-28 11:20] PrimaryFeather opened #6 "Add information about font distance field settings to XML file"
I know that you recently added the `type` field to the XML file — thanks again for that!

However, now that I started implementation on this feature in Starling, I realised that I actually need more information — especially the "distance range".

So we could either add another property to the `info` element, like this:

[code]

or add another (optional) XML element altogether, e.g. like this:

[co

[2017-08-28 11:31] soimy commented on #6
OK, I will add the distanceField node. I think it's cleaner and leave the current bmfont format as-is. Will be done today.

[2017-08-28 11:32] PrimaryFeather commented on #6
Awesome, thanks a lot!! :smile:

[2017-08-28 13:37] PrimaryFeather opened #7 "Add support for OpenType fonts"
I just tried msdf-bmfont-xml with an OTF font (e.g. [this one](http://www.dafont.com/de/dk-otago.font)). When doing so, [this line](https://github.com/soimy/msdf-bmfont-xml/blob/b0a5993fd0c2d943b97fac998896a0d693611425/index.js#L102) will cause an error to be thrown.

However, it seems that this is not necessary, because when I change the line to the following, it works just fine:

[code]

I'm not

[2017-08-28 14:23] PrimaryFeather commented on #7
Thanks in advance! :smile:

[2017-08-28 16:07] soimy commented on #7
Added support for OTF/WOFF font format in version `2.3.0` 983d88771d931a6cb86963873b8d0e7c8f1a17a3
Test needed.

[2017-08-28 16:08] soimy commented on #6
Added distanceField node in font file in version `2.3.0` 983d88771d931a6cb86963873b8d0e7c8f1a17a3
Test needed.

[2017-09-04 16:18] #7 closed

[2017-09-04 16:19] #6 closed

[2017-09-04 18:03] PrimaryFeather commented on #7
I just tried the new version, and it works fine! Thanks!

[2017-09-04 18:05] PrimaryFeather commented on #6
Thanks again, that was a huge help! The latest Starling version now uses this information to make sure that a distance field bitmap font is automatically using the `DistanceFieldStyle` with optimal settings, without the developer having to set up anything manually. Cheers!

[2017-09-07 16:49] Maligan opened #8 "Feature request: allow change char offsets"
Hello, soimy!
In first let me express my gratitude for your work!

Several otf/ttf fonts output incorrect char offsets, for example attached font have huge yoffset, all characters are shifted down. Usually, I run script which fix **offsetY** values on all char.

*This is not a bug of your utility, this is font's peculiarity.*

It will be cool if msdf-bmfont-xml can change offsetX / offsetY by cust

[2017-09-07 17:26] soimy commented on #8
I'll look into that next week. Maybe add both `letter spacing` & `baseline offset` modifiers. What do you think?

[2017-09-07 17:43] Maligan commented on #8
I'm nether faced with baseline in my projects - and can't make useful comment.
Custom `letter spacing` may be useful in case font with large stroke for avoid char overlapping.

[2017-09-07 23:53] soimy commented on #8
Just tested your font, looks great. I didn't find any `offsetY` issue for now @Maligan
<img width="636" alt="qq20170908-075113 2x" src="https://user-images.githubusercontent.com/1550237/30190113-b791e80e-946a-11e7-9824-b44f2e0a10da.png">

[2017-09-08 10:04] Maligan commented on #8
Wow, yesterday I was ready to swear that there is this problem.
But today I reassemble bitmap font and all is ok.

However I understand why I confused, if try to use custrom distance range then offsets appears:
`msdf-bmfont -m 1024,1024 -r 8 Marvin.otf`

There is one **important note**: in starling if text field use `autoSize = TextFieldAutoSize.BOTH_DIRECTIONS` then it trim offsets from text, but

[2017-09-08 13:17] Maligan commented on #8
Khm... I try another my font - [FiraSans.zip](https://github.com/soimy/msdf-bmfont-xml/files/1287954/FiraSans.zip), and it produce bad y-offset:

With `autoSize = TextFieldAutoSize.NONE`:
![](http://puu.sh/xuwn6.png)

With `autoSize = TextFieldAutoSize.BOTH_DIRECTIONS` offsets is trimmed in starling text filed:
![](http://puu.sh/xuwnz.png)

[2017-09-08 15:24] soimy commented on #8
From your image every thing looks fine to me. For the first image, what is your `textField.horizontalAlign` and `textField.verticalAlign` ? If I guess right, they are `left` and `top`.

[2017-09-11 20:53] Maligan commented on #8
Sorry for my late reply, I restored spaces in my typography understanding.

As I read there are next font metrics:
![](https://qph.ec.quoracdn.net/main-qimg-a7ebeeeb862041c4f66f26fcc6233de0-c)
In bmfont file format next two metrics are available:
* `lineHeight` (13)
* `baseline` (4)

What I called an excess yoffset is *shoulders* (14). It is no excess, I misunderstanded this moment.

* * *

Look o

[2017-09-12 04:42] soimy commented on #8
Great explanation on font metric graph! And I've tested the `autoSize` settings. You are right, when set to `autoSize = BOTH_DIRECTIONS`, textField's height is cropped to `bodyHeight` and `lineGap`(shoulder) is ignored.
For your case:
- `fontSize: 42`
- `lineHeight: 50`
- `baseline: 32`

#### Case 1: `autoSize = NONE`
Smallest Textfield's height is `lineHeight` (50), smaller height will remove all

[2017-10-11 08:26] soimy opened #9 "msdf glyph texture broken with opentype.js ^0.7.0"
In opentype.js 0.7.0 added support for CID-keyed otf font which can produce corrent xadvance.
But in testing, all ttf font msdf generation broken with lots of artifacts.

[2017-10-11 09:11] soimy commented on #9
Current workaround is use some service like [this one](https://everythingfonts.com/ttf-to-otf) to convert ttf to otf format.

[2017-10-11 20:48] mrtrizer opened #10 "reuse field is required in case of using opt"
Example:
[code]
Error:
[code]

[2017-10-12 03:24] soimy commented on #10
Thanks for the report! I'll look into it.

[2017-10-13 17:03] mrtrizer opened #11 "Can't generate a sheet with Japanese symbols"
Hi! I've tried to add few Japanese symbols into charset string (こんにちは) and found that these symbols are not presented in an atlas. I've tried with several fonts without success. Are there any reasons behind this? Can this be easily fixed in some way? May be I have to try with any concrete fonts?
Thanks for answer!

[2017-10-16 13:36] soimy commented on #11
I'm not sure yet, but will try to test the case.
BTW, can you upload the font you are using? @mrtrizer

[2017-10-16 17:46] mrtrizer commented on #11
Last time I tried with this one
https://www.freejapanesefont.com/iroha-maru-mikami-download/

[2017-12-12 12:10] PrimaryFeather opened #12 "Misc Enhancement Suggestions"
After using the command line tool for a while, I have to repeat I'm extremely grateful that you created it — hands-down the best way to create distance field bitmap fonts!!

I ran into a few minor things that caused me a little more work than would probably be necessary. This issue contains suggestions for small changes that seem to make sense for me. Perhaps one or more of them can be implemented

[2017-12-13 03:53] soimy commented on #12
Thanks for such detailed review and suggestions! I'll be working on these issues soon.
Currently, I'm working on rewrite this tool and all its sub-modules in typescript (learning typescript) and will have some major change in the structure of this tool.

[2017-12-28 20:08] yooni126 opened #13 "Missing characters in export png"
Hi
I have a persian font that you can download it from this link:
https://www.dropbox.com/s/lvlv8yulgjn3svh/B%20Koodak%20Bold.TTF?dl=0

I want to change this font to bitmapFont so I write this code:
msdf-bmfont -o koodak.png --charset-file charset.txt --texture-size 1024,1024 --smart-size koodak.ttf

also i set charset.txt to these characters:
ببب ب
تتت ت
ضضض ض
صصص ص
ثثث ث
ققق ق
ففف ف
غغغ غ
ععع ع

[2017-12-29 04:10] soimy commented on #13
Turns out the font you used is missing a lot of standard ASC-II characters.
You can check it out at https://opentype.js.org/glyph-inspector.html by uploading ur font.

[2017-12-29 05:08] soimy commented on #11
Make sure your charset file is encoded using UTF-8. Don't use Windows Notepad to paste in charset.

[2017-12-29 05:08] #11 closed

[2017-12-29 05:08] #13 closed

[2017-12-30 06:51] yooni126 commented on #13
ok , i test the new font with a lot of standard ASC-II characters
https://www.dropbox.com/s/1fuigy78xi2jtx5/iransans.fnt?dl=0

but the problem still exist!

[2017-12-30 07:00] yooni126 opened #14 "Missing characters in export png"
in last issue you said that I must use a font with a lot of standard ASC-II characters
so I use this font :
https://www.dropbox.com/s/1fuigy78xi2jtx5/iransans.fnt?dl=0

and set charset.txt to these text:
ببب ب
تتت ت
ضضض ض
صصص ص
ثثث ث
ققق ق
ففف ف
غغغ غ
ععع ع
ههه ه
خخخ خ
ححح ح
ججج ج
چچچ چ
ششش ش
سسس س
ییی ئ ی ي
ببب ب
للل ل
اآ
ننن ن
ممم م
ککک ک
گگگ گ
ظظظ ظ
ططط ط
زرژ
و
ذد
پپپ پ
َُِّ
":><؟{}|+_()&*!@#$%

[2017-12-30 07:04] yooni126 commented on #14
oh I forgot that one of my friends gave me a solution but its very strange:
https://github.com/myflashlab/RTL-BitmapFont/issues/1

[2017-12-30 15:18] soimy commented on #14
@yooni126 can you post the generated `.fnt` file and the exact command/argument in the generation?
There are no more missing glyphs but apparently, not all glyphs are in the font atlas. I need to know why.

[2017-12-31 14:14] yooni126 commented on #14
yes of course
you can download it from this link :
https://www.dropbox.com/s/ngywyipv8b1wl2z/soimy.zip?dl=0

please read readMe file in 2 folders;

[2018-01-03 12:05] yooni126 commented on #14
did you see zip file? was it clear?

[2018-01-03 13:25] soimy commented on #14
yes, clear enough.
Just back to work, I'll look into it soon and keep you update.
BTW, I'll also try to find a solution on RTL xoffset and xadvance mentioned by myflashlab/RTL-BitmapFont#1

[2018-01-06 10:57] soimy commented on #1
Close via 9b689dc

[2018-01-06 10:58] soimy commented on #1
Close via 9b689dc

[2018-01-06 10:58] #1 closed

[2018-01-06 10:58] soimy commented on #9
Close via 9b689dc

[2018-01-06 10:58] #9 closed

[2018-01-06 10:58] soimy commented on #10
Close via 9b689dc

[2018-01-06 10:58] #10 closed

[2018-01-06 10:58] soimy commented on #12
Close via 9b689dc

[2018-01-06 10:58] #12 closed

[2018-01-06 11:06] PrimaryFeather commented on #12
Wonderful, thanks a lot! :smile:

[2018-01-06 12:21] soimy commented on #12
You are welcome 🍺 Still need some testing on different platform, then I'll push new version to npm

[2018-01-07 15:18] soimy commented on #14
Close via f4bc573d0125d7eeb84f978c371759c59b52bd09
Please read the updated Readme for instruction. Add a flag(--rtl) in CLI to fix Arabic/Persian bugs.

[2018-01-07 15:18] #14 closed

[2018-01-08 14:36] yooni126 opened #15 "advance issue in Persian/Arabic (RTL)language"
First thank u for correct miss characters in charset.txt for RTL languages
but as you see in this picture now we have a problem with xoffset like اییی or اششش or اططط
is there any way to set xoffset to correct this problem ?
![xoffsetproblem](https://user-images.githubusercontent.com/3766387/34675318-891dbf36-f49e-11e7-8762-52aeaf139371.JPG)

[2018-01-08 16:37] soimy commented on #15
I'm happy that the latest fix solved a tiny piece of RTL problems for you.
The real problem is `Opentype.js` module which I heavily relied on lack of support for RTL languages, and I myself is having poor knowledge on that too. So it might won't be fixed soon.

I'm considering switching from `Opentype.js` to `fontkit` which does excellent on RTL languages. That's a lot of works.

[2018-01-10 00:41] AlbertoElias opened #16 "Text appears transparent in colored tectanle"
I've been trying to create my own msdf fonts, based on Roboto which I fetched from Google Fonts. Using this tool and then loading it in Three.JS with https://github.com/Jam3/three-bmfont-text loads transparent text in a colored rectangle. It works fine if I load the pre generated Roboto from here: https://github.com/Jam3/three-bmfont-text/tree/master/test/fnt

Error:
<img width="734" alt="broken_f

[2018-01-10 04:40] soimy commented on #16
`three-bmfont-text` is old. Since https://github.com/Chlumsky/msdfgen Release v1.4 all generated channel have been reversed, and the MSDF shader should be updated accordingly.

You can check out https://github.com/soimy/msdf-bmfont-xml/tree/master/test for an example on how to use `msdf-bmfont-xml` generated atlas with `three-bmfont-text`

[2018-01-10 19:33] AlbertoElias commented on #16
Great, thanks for the info. There seems to be a slight white border around all characters that makes it less legible. Is there a way to remove it? Thanks a lot!

[2018-01-10 19:35] #16 closed

[2018-01-15 17:31] smaznet opened #17 "libpng12.so.0: cannot open shared object file: No such file or directory"
`libpng12.so.0: cannot open shared object file: No such file or directory`

i got this error on centos 7

how i can fix it?

[2018-01-16 09:37] soimy commented on #17
@smaznet Have you tried installing `libpng-dev` package?

Also to mention: `msdfgen` binary for linux in this repo is old and not updated yet. I've tried newest prebuilt binary but too many dependency make it impossible fit for all linux distro. Consider build it yourself from https://github.com/ckohnert/msdfgen

[2018-01-19 05:33] soimy commented on #17
@smaznet did your problem solved? Hope to get your feedback and I'll let this issue open as an Q&A

[2018-01-26 01:57] donmccurdy commented on #17
@soimy I think I'm having the same issue. With `libpng-dev` installed to 1.6.28-1, I still get this error:

[code]

[code]

Do you have instructions for building it, and was there a particular reason you linked to a fork of msdfgen?

[2018-01-26 03:57] soimy commented on #17
Take a look at Chlumsky/msdfgen#57 , Compiling on linux is just the same.
ckohnert's fork of [msdfgen](https://github.com/ckohnert/msdfgen) adds more tolerance fixes on font shape than the original repo. There are plenty of font with minor error which is not noticeable in normal rendering but will damage generated signed-distance field maps.

[2018-01-26 18:07] Apidcloud commented on #17
In spite of having libpng16 already installed, the same error was thrown when using this package on debian 9.
The issue was solved by specifically installing libpng12 (thanks @f2dmarques).
Building msdfgen didn't do it though.

The dependency of libpng is from this package, right? Isn't there a way to use the latest version instead?

Thanks!

[2018-01-29 16:22] donmccurdy commented on #17
Thanks! Things are working now, although installing libpng12 on Google Compute Engine required [adding a repository](https://askubuntu.com/questions/840257/e-package-libpng12-0-has-no-installation-candidate-ubuntu-16-10-gnome/840268).

Here are the steps I needed in the end: https://gist.github.com/donmccurdy/03b9e072d11c4c393415062bf3d50670/edit

[2018-01-29 22:54] Apidcloud opened #18 "Run from electron"
Good evening!

I have no problems using this package from node, but I wonder if there a good way to make this run from electron?

The following error is raised when I attempt to do so:
Uncaught Error: A dynamic link library (DLL) initialization routine failed.
[code]

I tried to run electron-rebuild on it, but it still happens.
I wonder if I would need a specific build from canvas-prebuilt.
Any id

[2018-01-30 00:37] Apidcloud commented on #18
Also opened an issue on canvas-prebuilt itself: https://github.com/node-gfx/node-canvas-prebuilt/issues/30

I'll try to build it targeting node 7.9 and use it in this package.

[2018-01-30 05:04] soimy commented on #18
Haven't tried this on electron yet. Maybe it relates to path canvas-prebuild loading local dynamic libraries.
`msdf-bmfont-xml` is designed as a back-end program. If you decide to use it as front-end, it's better to substitute `node-canvas` to DOM canvas or WebGL framework like Pixi.js. They are used to render glyphs to final atlas, nothing more.

[2018-01-30 05:30] soimy commented on #17
Good to hear that! and sorry for the inconvenience.
Just spent some time looking at the old `msdfgen.linux` binary and found that localized `libpng12.so.0` is not included. The current mac/win binary of msdfgen dependencies(.dll and .dylib) are all localized.
I'll fix that.

[2018-01-30 05:32] Apidcloud commented on #18
I think it’s because electron uses a different node version within (1.7.11 uses 7.9), so node canvas has to be built targeting that version instead. I’ve opened an issue in that repository as well, to check whether that’s possible. I’ll keep you updated :) thanks!

[2018-01-30 05:38] soimy commented on #17
Test needed 79cc79f

[2018-01-31 04:23] Apidcloud commented on #18
Good news! It does seem to work under electron when targeting it (e.g., 1.7.11). See https://github.com/node-gfx/node-canvas-prebuilt/issues/30 for the discussion.

If the author is able to release a version with said target, could you do the same?

Thanks! 💯

[2018-01-31 16:54] donmccurdy commented on #17
Thanks, it's working great! Setup on GCE (Ubuntu 16.04 LTS image) is [much simpler now](https://gist.github.com/donmccurdy/03b9e072d11c4c393415062bf3d50670).

[2018-01-31 16:58] Apidcloud commented on #17
That's awesome! I'll also give it a try tomorrow in Debian 9.

[2018-02-01 06:01] soimy commented on #17
npm repo version bump via c7e2e3fc64c5319ab9d61838ec747d4357e04b54

[2018-02-04 22:49] Apidcloud commented on #18
Thanks!

Still got no news from `canvas-prebuilt`, but I'm curious about replacing those libraries. Anything in mind yet?

[2018-02-05 13:55] soimy commented on #18
Haven't got time on this yet, but my plan is replace `node-canvas` with `node-pngjs` on back-end, or `pixi.js` on front-end. `opentype.js` to more light-weight `typr.js` on runtime-parser or `fontkit` maybe.

[2018-02-05 15:26] Apidcloud commented on #17
Just tested in Debian 9, but it keeps raising the error: `libpng12.so.0: cannot open shared object file: No such file or directory (...)`.

Installing libpng12 solves the issue though.

[2018-02-10 00:27] donmccurdy opened #19 "Binaries not executable in 2.3.2"
The binaries in the 2.3.2 release don't seem to be executable:

![screen shot 2018-02-09 at 4 26 02 pm](https://user-images.githubusercontent.com/1848368/36056057-f77b6dae-0db5-11e8-8045-19dcbb0a8512.png)

A manual `chmod` after installation fixes the issue. I don't see anything in the commit history to explain that. 😕

I am using macOS here.

[2018-02-10 03:00] soccerob commented on #19
I'm not able to run anything with this latest version. after installing via npm, i get errors when attempting to run msdf-bmfont -v
i tried chmod with no success

 msdf-bmfont -v
module.js:672
  return process.dlopen(module, path._makeLong(filename));
                 ^

Error: The module '/usr/local/lib/node_modules/msdf-bmfont-xml/node_modules/canvas-prebuilt/canvas/build/Release/canvas.node'
wa

[2018-02-10 03:39] soccerob opened #20 "Missing characters in fnt and png"
I tried running my ttf with a custom charset that includes characters for multiple languages, but when I view the output fnt file, it only has 97 of the 170 characters that I'm expecting (from my charset).
My charset is:
`
!  "#$%&'()*+,-./0123456789:;?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[]^_`abcdefghijklmnopqrstuvwxyz{|}~¡«»¿ÀÁÂÄÅÆÇÈÉÊËÌÍÎÏÑÒÓÔÖØÙÚÛÜßàáâäåæçèéêëìíîïñòóôöøùúûüÿŒœŸ–—’“”„€\‘<=>°·•ãÃºõ
`

[2018-02-10 05:05] donmccurdy commented on #16
Fix proposed here: https://github.com/Jam3/three-bmfont-text/pull/24

[2018-02-10 05:25] soimy commented on #19
@donmccurdy sorry, this is due to new version submitted to npm via windows... I'll fix that

[2018-02-10 05:42] soimy commented on #20
I just tested and all works fine.
Please post your `msdf-bmfont-xml` version, platform and font you are using. Also make sure to save your charset file in `utf-8`

[2018-02-10 12:30] soccerob commented on #20
My mistake, was txt file was not saved as UTF-8

[2018-02-10 13:09] soimy commented on #20
Good to hear that. I should mention this charset file encoding in the README

[2018-02-10 22:51] donmccurdy opened #21 "Inconsistent results in linux vs macOS"
I'm trying to make a little hosted service to create bmfont files, and am getting oddly different results when running the same thing locally (macOS) vs Docker (linux, but thanks to Docker magic, i'm not actually sure what linux distro this is...).

Guessing I'll need to dig into the linux version and see if there are open issues there, but wanted to file something here in case you have any ideas.

[2018-02-10 23:51] donmccurdy commented on #21
^Changed base image from debian/jesse to ubuntu/xenial with no effect, so at least it's consistent.

[2018-02-10 23:58] donmccurdy commented on #21
Related: https://github.com/Chlumsky/msdfgen/issues/59

[2018-02-11 00:09] soimy commented on #21
Due to point tolerance issue on old linux binary from Chlumsky's repo, windows/mac version is using https://github.com/ckohnert/msdfgen

Check #17

[2018-02-11 00:15] soimy commented on #21
Currently I'm having trouble to compile ckohnert's fork under ubunu 14.04 with gcc-4.8

[2018-02-11 00:15] donmccurdy commented on #21
So the linux binary is still pointed to Chlumsky's binary, Windows/Mac to Ckohnert's? That would explain it, thanks. I'll try compiling the fork on my Docker image and see where that gets me...

[2018-02-11 00:37] donmccurdy commented on #21
It's compiling on Xenial for me, so my web app is up and running. Thanks for your help! 🙂

[2018-02-13 18:59] Apidcloud commented on #18
Still no answer from `canvas-prebuilt`. Can we release an electron version ourselves for the time being?

[2018-02-15 07:38] soimy commented on #21
Fixed via bca20ca24bfcf1e7d03ffd43550953dfbeecc6c6

[2018-02-15 07:38] #21 closed

[2018-02-15 07:39] soimy commented on #19
Fixed via bca20ca24bfcf1e7d03ffd43550953dfbeecc6c6

[2018-02-15 07:39] #19 closed

[2018-02-15 07:40] soimy commented on #17
Fixed via bca20ca24bfcf1e7d03ffd43550953dfbeecc6c6

[2018-02-15 07:40] #17 closed

[2018-02-16 01:36] donmccurdy commented on #19
Thanks @soimy! With that update I no longer have to compile from the fork, and see no artifacts. 🙂 But it does not seem like this issue is fixed — none of the binaries appear to be executable.

[2018-02-16 14:38] soimy commented on #19
尴尬！Fixed via 5f8f2901bf521ca2c98343685a23fd690ebe26f1
Thanks for reporting this @donmccurdy

[2018-02-17 02:36] donmccurdy commented on #19
Working perfectly now, thanks! 🎊

[2018-02-25 21:36] yooni126 commented on #15
Hi soimy
Whats up?
do you have a good news?

[2018-03-02 22:42] mattdesl opened #23 "Metrics fixes"
Hey there,

I think it might be good to have a very robust test case for metrics that covers this module and also [mdsf-bmfont](https://github.com/Jam3/msdf-bmfont). It seems like msdf-bmfont had some issues with alignment (https://github.com/Jam3/msdf-bmfont/pull/11) which means all fonts exported with it may be wrong (and perhaps also msdf-bmfont-xml, since it seemed like I was getting similar a

[2018-03-15 05:31] numberoverzero opened #24 "cli padding option seems to have no effect"
First, thanks for the great tool!  Nice and easy to set up and it does almost exactly what I need.

I'm looking for an option to add a 1 px padding to each character.  From the cli options, I expected the `-p` or `--texture-padding` option to handle this.  However, I'm seeing no difference in the rendered texture.

The description seems to match what I'd expect for `fontPadding`, that is padding b

[2018-03-15 16:09] soimy commented on #23
Thanks for mention it. There are several commits ahead of [Jam3/msdf-bmfont](https://github.com/Jam3/msdf-bmfont) related on this issue like 437b2cb66276dc383cbf69510822294ea396db6c and 4a7686590611df9a0e1e66048e11790d03271a01 .
I'm no expert at font metrics things, so if you found any metrics problems, please let me know, I'll try to fix.

[2018-03-15 16:18] soimy commented on #24
Sorry for the miss-leading option name, never had a deep thought on that.
Actually this option `-p` or `--texture-padding` is for padding each generated msdf glyph in the final atlas, not the padding of font metrics.
Text characters padding should be done in bitmap font rendering phrase.

[2018-03-15 16:44] numberoverzero commented on #24
Thanks for the quick response.  I just re-ran and noticed that the -p option is padding each glyph as I expected; I was looking at the image from an earlier run and the other pages were generated next to it.

Since the image is being generated correctly, I imagine the x, y offsets are for the character without padding, correct?  If so is there any use for the `padding` value in the output json?  I

[2018-03-16 06:48] soimy commented on #24
x, y offset define the bounding box bias from origin `(x-advance, baseline)`.
As far as I can tell, none of the bmfont parsers use padding value from `.fnt` file. This padding was done on layout phrase.

[2018-03-16 09:17] numberoverzero commented on #24
Thanks for the info!

[2018-03-16 09:17] #24 closed

[2018-06-27 09:31] PrimaryFeather opened #25 "Suggestion: changing sizing-defaults of command-line tool"
Hey Shen,

I'd like to suggest two small changes of the default values of the command-line tool. I guess I'm a little lazy, so I like to avoid having to type a lot of arguments when it shouldn't be necessary. :wink:

IMHO, most developers will just want to get the single (!) smallest texture that's able to pick up the glyphs. Furthermore, I don't know of any (at least somewhat modern) graphics har

[2018-06-28 05:08] soimy commented on #25
OK, will do

[2018-06-28 05:45] PrimaryFeather commented on #25
Wonderful! Thanks a lot in advance! :smile:

[2018-06-29 07:21] soimy commented on #25
Closed via d05ef86534d734e6cefd5c5468b3da205d5a6e88

[2018-06-29 07:21] #25 closed

[2018-10-11 17:42] roipeker opened #26 "Update the docs reference for textureWidth/textureHeight"
When using in nodeJS, options.textureWidth/options.textureHeight doesn't work, looking at index.js  seems the actual value is options.textureSize...
Maybe update index.js to have granular access to width/height, or README to reflect the correct prop name.

Update:
just realized .textureSize expected an array of [width,height], please update the README.

[2018-10-14 15:59] soimy commented on #26
Thanks for the report!

[2018-12-18 07:20] pirrest opened #27 "canvas-prebuilt incompatible with current node.js"
internal/modules/cjs/loader.js:752
  return process.dlopen(module, path.toNamespacedPath(filename));
                 ^

Error: The module '/usr/local/lib/node_modules/msdf-bmfont-xml/node_modules/canvas-prebuilt/canvas/build/Release/canvas.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 57. This version of Node.js requires
NODE_MODULE_VERSION 67. Please try re-com

[2018-12-21 08:21] soimy commented on #27
Sorry about that, one of the core module `canvas-prebuilt` is deprecated. I will revert back to `canvas`

[2018-12-21 08:22] pirrest commented on #27
Thanks! I made that change locally and it works! But would be great to see it working in release. Thank you again.

[2019-01-07 01:54] markusmoenig opened #28 "JSON error"
Thanks for this! Has been a lifesaver.

There is a problem generating the JSON data, some chars are not strings but integers. XML always exports correctly. When creating JSON for OpenSans-Regular.ttf I get a chars like:

{"id":109,"index":80,"char":"m","width":36,"height":27,"xoffset":2,"yoffset":11,"xadvance":39,"chnl":15,"x":138,"y":0,"page":0},{"id":54,"index":25,"char":6,"width":24,"height":35

[2019-01-14 08:56] soimy commented on #28
Thanks for the report. `json` export is rarely used so not fully tested.
I'll look into it and probably fix in the next release.

[2019-01-28 04:51] soimy commented on #27
Closing via a61ffb377ea8c5a23c1b33d651c5591f76e8b3e1
Will be in the next release with other fixes

[2019-01-28 04:51] #27 closed

[2019-03-07 14:53] musculman opened #30 "Vulnerability issue"
Running `npm audit` or `yarn audit` shows a few vulnerabilities on this package:
[code]

[2019-03-13 09:38] musculman commented on #30
Attempt to fix this in #31

[2019-03-14 02:28] soimy commented on #30
Thanks for the effort! Actually, I have no idea what these vulnerabilities coming from ;-)

[2019-03-14 07:00] soimy commented on #28
fixed via 4f8ab2678ae6b06dc184ad4f9c0bdb08ddbf540e

[2019-03-14 07:27] soimy commented on #26
Fixed via 67cd02887f5e34b1af3d3fefce8e29bbf22003be

[2019-03-14 07:27] #26 closed

[2019-03-14 07:28] soimy commented on #30
Merged via 6142b5bf8d9592bd5627ad0ae13176d7e15e043d

[2019-03-14 07:29] #30 closed

[2019-03-17 16:58] lassemt opened #32 "Floating point exception in 2.3.6"
After updating from 2.3.5 to 2.3.6 I get the error message: `zsh: floating point exception` when running the command:
```msdf-bmfont --reuse -f json -o atlas.png -m 512,512 -s 64 -r 2 font.ttf```

It works as expected if I don't specify texture size. Is there something I have missed out in the new version?

[2019-03-18 04:11] soimy commented on #32
I suspect the reason is in node-canvas updates, will look into it!

[2019-03-18 07:18] soimy commented on #32
Probably fixed in 5e5176091c6e4794bc9b835a215c305c865e790a
@lassemt can you confirm this commit solves your problem?

[2019-03-18 09:37] lassemt commented on #32
@soimy works as expected now in v2.4.0 👏🏼Thanks for fixing it so quickly and this great tool 😊

[code]

[2019-03-18 14:09] soimy commented on #32
A planned update solved an unexpected issue, just perfect😎

[2019-03-18 14:09] #32 closed

[2019-03-21 21:47] Apidcloud commented on #18
Meanwhile I got it working by publishing my own builds of `canvas`.

[2019-03-21 23:51] Apidcloud commented on #18
Ah. Still regarding that message, the bar doesn't really go further (from 0% to 100%) despite actually working.

[2019-03-22 05:50] soimy commented on #18
Ah, that's absolutely normal. `space` does not have any glyph so a blank bitmap warning is given. The progress bar just shows that the warning is triggered at 0/95.  Just ignore it.

[2019-03-22 05:50] #18 closed

[2019-03-22 07:24] soimy commented on #18
Fixed the progress bar info above warning message via fa5e9a90755e20762b96d75995a4f07a54b96a73

[2019-03-27 20:05] jcmonnin commented on #23
I also experienced metrics issues. When rendering the text, the bottom of the letters are getting below the line (for example the bottom of the 'g' character is cut). In my font example the `lineHeight` was reporting 33.6. It was looking right with a value of approximately 37. Using [opentype.js.org](https://opentype.js.org/font-inspector.html), I checked the font properties:

1.  `(os2.sTypoAscen

[2019-04-07 06:58] JanzTam opened #34 "It seem something wrong with Chinese font."
[SourceHanSansCN-Heavy-lite.ttf.zip](https://github.com/soimy/msdf-bmfont-xml/files/3051274/SourceHanSansCN-Heavy-lite.ttf.zip)

The font which is include  'Welcome$0123456789返回清空后退排行榜分数最高邀请好友开始'.

[2019-04-07 12:51] soimy commented on #34
I don't think it's a legit font
<img width="400" alt="QQ20190407-205050@2x" src="https://user-images.githubusercontent.com/1550237/55683828-db31d580-5976-11e9-8498-2b28a1c9441b.png">

[2019-04-10 07:03] #34 closed

[2019-05-07 09:00] soimy opened #35 "cli parameter number value not correctly typed"
When some parameter like `--texture-padding` is given, `opt` will get stringified number value. Reported in PR #33

[2019-05-07 09:08] soimy commented on #35
Fixed via d3030e69e48a6d77054e1d3808280c222d579d15

[2019-05-07 09:08] #35 closed

[2019-05-08 12:01] amsXYZ opened #36 "Linux bin execution error"
When calling your package from a JS script, I get the following error on linux (Ubuntu 16.04.6):

[code]

Any idea of why this might be happening? Only happens locally, and runs fine on a xenial docker image.

[2019-05-15 09:42] amsgames94 commented on #36
I actually cannot run it from terminal... Getting exec format error, even though arch of my VM and the program is the same (x86-64):
[code]

Could it be because it's been compiled as a shared object? Both the OSX and Win32 version of the same file are executables:

[code]

[2019-05-15 10:25] soimy commented on #36
All shared objects are localized with edited ELFs.
I think a quick way to solve your problem is to compile msdfgen.linux yourself. See https://github.com/soimy/msdf-bmfont-xml/issues/17#issuecomment-360678034

[2019-05-15 11:42] zellm commented on #36
I see the same issue (cannot execute binary file: Exec format error) on WSL/Ubuntu 18.04.  But there is something odd but I am not sure whether this is related to the problem. Since
[code]
showed binary is "not stripped", I run strip just to see what happens and I got an error:
[code]
Strip is failing with exactly the same error message on a native Ubuntu although the binary itself is running ther

[2019-05-15 14:08] soimy commented on #36
@zellm Might related to this NixOS/patchelf/issues/10
Will dig.

[2019-05-17 12:56] ninok commented on #36
@amsgames94, @zellm, @soimy I had the same issue and build msdfgen from latest mainline and it works. (also strip is working).
Should I create a PR with the updated binary I build?

[2019-05-17 13:17] soimy commented on #36
PR really welcomed!
@ninok Can you try to use `patchelf` to localize the following shared libraries:
- `libfreetype.so.6`
- `libpng16.so.16`
- `libstsdc++.so.6`
- `libz.so.1`

I've tried to build them in my new linux vm but having hard time get the binary working with TravisCI.

[2019-05-20 07:41] ninok commented on #36
PR is here: https://github.com/soimy/msdf-bmfont-xml/pull/37 but Travis is also failing for me: https://travis-ci.org/soimy/msdf-bmfont-xml/builds/534678791?utm_source=github_status&utm_medium=notification

Can you point me to how I have to patch the binary with `patchelf`. I tried the following but the libraries did not change:

[code]

Could we not just take the libraries from the system and upd

[2019-05-20 08:13] soimy commented on #36
Thanks for the effort!
I used `patchelf --set-rpath '$ORIGIN\lib' msdfgen.linux` and put all shared libraries in the `lib` folder to make them locally.

[2019-06-03 01:24] markusmoenig commented on #28
@soimy Sorry for the late response. Just returned to this part of the project and no, the issue is not solved.

[2019-06-03 01:28] markusmoenig commented on #28
@soimy Just export a font to json and than search in the file for "char":0 which is wrong and should be "char":"0", the same as for all other digits. Easy to verify.

[2019-06-03 07:58] soimy commented on #28
I'll try to reproduce that asap.
Can you give more info on that? eg: your cli parameters, your `msdf-bmfont-xml` version etc.

[2019-06-03 11:35] soimy commented on #28
Turns out d3030e69e48a6d77054e1d3808280c222d579d15 broke this fix. I'll fix this.

[2019-06-03 11:38] #28 closed

[2019-06-03 11:41] soimy commented on #28
Please update via `npm i -g msdf-bmfont-xml` to test @markusmoenig

[2019-06-03 11:52] markusmoenig commented on #28
@soimy Just got back to work. Tested it and all good now, thanks a lot for the fast fix! Love this tool.

[2019-06-03 11:58] markusmoenig commented on #28
@soimy btw I added a link to your tool on my WebGL text stack overflow question / answer here: https://stackoverflow.com/questions/25956272/better-quality-text-in-webgl/35027166#35027166

[2019-06-05 19:39] ninok commented on #36
Sorry for the delayed answer. I tried to set the rpath but I also get a corrupted binary file.
Might be the same issue as described here: https://github.com/NixOS/patchelf/issues/146
My Ubuntu 18.04 WSL comes with patchelf 0.9. l will try with a newer version and post results soon.

[2019-06-05 19:50] ninok commented on #36
Unfortunately building latest patchelf from source did not help. So we have to wait until https://github.com/NixOS/patchelf/issues/146 is fixed or upgrade CI to use Ubuntu 18.04.

[2019-06-06 10:06] soimy commented on #36
@ninok Thanks for the effort! Let's follow the progress of `patchelf` fix that problem. For now I think I should update the README for an FAQ on compiling `msdfgen`.

[2019-06-06 10:58] ninok commented on #36
@soimy Have you ever tried to set rpath when building msdfgen instead of patching it after building it? I will try this if I find time.

[2019-06-22 12:46] brupelo opened #38 "Crash when using npm run render"
Windows7, node v12.4.0 over here:

- cloned the repo
- npm install
- npm install -g devtool
- npm run render

And boom, crash:

![showcase](https://dl.dropboxusercontent.com/s/6xyn0qv4601vxl4/electron_2019-06-22_14-45-19.png)

Could you advice? :)

[2019-06-22 13:56] soimy commented on #38
devtools is abandoned, sorry about that. And I’m too lazy to find a substation.

[2019-06-25 10:19] #38 closed

[2019-06-25 10:19] soimy commented on #38
Try the newest commit @brupelo

[2019-07-12 12:24] rzer opened #39 "Font data may write before chars parsed"
`fontFile.data = utils.stringify(fontData, outputType); `
may happens before
`const asyncTextures = await Promise.all(textures);`
So chars data may be empty.

It's happens for me when i try to reuse texture for another font. My solution is to move first line after second.

[2019-07-12 12:32] soimy commented on #39
Thanks for reporting! Just in time🙏
I'm looking for the missing chars data right now.

[2019-07-12 12:46] #39 closed

[2019-07-18 00:29] delaneyj opened #40 "SVG Import?"
I have a bunch of icons in SVG i'd like to be part of the atlas.  Is there an easy way to be able to append a folder of them during generation?

[2019-07-18 01:44] soimy commented on #40
Currently, there is no easy way of importing SVGs. Your best bet is trying to convert them into font like font-awesome.
BTW this repo is going to be depreciated. Take a look at the next generation: https://github.com/soimy/atlasify it will have the feature you looking for.

[2019-07-18 14:44] delaneyj commented on #40
Atlasify does look like exactly what I want, thank you.

[2019-07-18 14:44] #40 closed

[2019-09-12 15:30] johh opened #42 "Missing padding info"
Hey there!

I've noticed that `font.info.padding` is always `[0, 0, 0, 0]`.
Since some padding info is calculated [here](https://github.com/soimy/msdf-bmfont-xml/blob/ff3669c2bfffd06f29bacedcdf3f073379b45e7e/index.js#L326) shouldn't that info be made available in `font.info.padding`? It'd come in handy when aligning things or calculating metrics.

I'm happy to submit a PR.

[2019-09-16 15:30] soimy commented on #42
Real padding might introduce some artifacts in msdf textures (Not tested), but should be useful when dealing with sdf or svg output, but they are rarely used.
If you think this is meaningful, PR is welcomed! Thank you.

[2019-09-16 20:52] #42 closed

[2019-09-22 20:13] blade-point opened #44 "Error making atlas out of multiple fonts"
I've been trying to make a single atlas out of multiple font files, but I always get a ".cfg  not valid" error. What am I doing wrong? This is from an administrator Command Prompt in Windows 10 with Node.js version 12.10.0. I also tried it on a different Windows 10 machine with Node.js LTS version 10.16.3 and the result was the same.

`msdf-bmfont --reuse -o Atlas.png font1.ttf`
[code]
`msdf-bmfon

[2020-01-09 18:45] bishalkc opened #46 "HELP with SVG"
Not sure what I am doing wrong here.

when I run
`msdf-bmfont -t svg Downloads/RobotoMono-Bold.ttf`

`Using following settings `
`========================================

- version         : msdf-bmfont-xml v2.5.2
- outputType      : xml
- filename        : Downloads/RobotoMono-Bold
- fontSize        : 42
- charsetFile     : Unspecified, fallback to ASC-II
- textureSize     : 2048,2048
- textureP

[2020-01-13 16:34] donmccurdy opened #47 "Support fontBuffer as alternative to fontPath"
I'm migrating https://msdf-bmfont.donmccurdy.com/ (which is basically a web GUI for creating MSDF fonts...) to a newer version of my web hosting service. The new platform version doesn't allow writing anything to disk — but on the bright side it's much cheaper to run!

At this point I've got everything working, except that this package requires `fontPath` as a path on disk. The `opentype` dependen

[2020-01-15 07:49] soimy commented on #47
Sure, PR is welcomed!

[2020-01-16 04:00] donmccurdy commented on #47
Thanks! Opened https://github.com/soimy/msdf-bmfont-xml/pull/48.

[2020-01-18 03:37] #47 closed

[2020-01-31 11:01] Sechgulo opened #49 "Recent changes regarding fontBuffer does not seem to work if fontPath is a string"
There is some confusion regarding 2.5.3 and the latest changes done here regarding how fontFace is set: https://github.com/soimy/msdf-bmfont-xml/commit/6b659b4db492c3667ef0943cb5f43920d85790a1

Setting `fontFace` to filename (which can be an atlas_path string) if it exists, over `path.basename(fontPath, path.extname(fontPath));` results in fontFace now being the full path if filename is a path.

E

[2020-02-02 07:07] #49 closed

[2020-02-02 07:08] soimy commented on #49
@Sechgulo this commit ae559fd should fix your problem, thanks for the report!

[2020-02-08 12:38] soimy commented on #46
Sorry for the late reply, vector generation has been moved to `-v` option.
I'll update the `cli` and document.

[2020-02-08 13:06] #46 closed

[2020-02-08 18:03] #44 closed

[2020-02-08 18:07] soimy commented on #44
Sorry for the late reply.
Per your situation, it seems that you `Atlas.cfg` does not present in your current dir.

But when I'm trying to reproduce your problem, I found some old bugs regarding the multi-font atlas generation! Thank you.

[2020-03-14 23:23] blade-point opened #50 "Error making atlas out of multiple fonts again"
I am re-opening [my previous issue](https://github.com/soimy/msdf-bmfont-xml/issues/44), which still persists in version 2.5.4 on a Windows 10 administrator command prompt.

`C:\>msdf-bmfont --reuse -o Atlas.png font1.ttf

Using following settings
========================================
version         : msdf-bmfont-xml v2.5.4
outputType      : xml
filename        : Atlas.png
fontSize        : 42

[2020-03-14 23:35] blade-point commented on #36
I'm getting a similar warning, also on Ubuntu (18.04.3 LTS):
[code]

[2020-03-17 03:21] soimy commented on #50
Can you post your font project and post here? So I can try to reproduce your problem.
Thanks!

[2020-03-17 07:58] blade-point commented on #50
Sure, here is a [zippyshare link](https://www48.zippyshare.com/v/CkaJKWxB/file.html
) to a zip of font1.ttf, font2.tff,  and the atlas.cfg. I should mention that msdf-bmfont-xml works great for me if I do only 1 font at a time. It only causes problems when I try to combine 2 fonts into 1 atlas. I know I could do it separately, then edit the 2 .png files into 1 atlas and edit the x and y coordinate

[2020-03-25 18:16] gaitat opened #51 "png extension is missing from texture.filename"
When no filename is specified and it defaults to the fontName, I noticed that the png extension is missing and I have to add it manually. Is there a reason for this?

[2020-06-03 11:24] matse4 commented on #50
Hi, I have the same problem as blade-point.
I would like to like to use 3 different Fonts to create one Atlas and .fnt file but get an error at the second command.

Is there any known workaround?

[2020-07-05 16:16] pixtur commented on #50
Same issue here...

[code]

This is the created config file: https://gist.github.com/pixtur/11a7ab0de236d491af79c31a22c7db93

Is there an earlier version, I could use as a work around?

[2020-10-13 13:52] corecode1 opened #56 "Generating font with large charset"
When trying to generate font with large charset (700+ characters) I get following error:

UnhandledPromiseRejectionWarning: Error: Command failed: C:\Users\user\AppData\Roaming\npm\node_modules\msdf-bmfont-xml\bin\win32\msdfgen.exe msdf -format text -stdout -size 42 42 -translate 0 36 -pxrange 4 -defineshape "{7.77, -3.948; 7.77, -14.406; (7.056, -12.264); 6.006, -9.828; (4.956, -7.392); 3.654, -5

[2020-12-09 09:34] BladePoint opened #57 "<kernings> node is always empty"
It seems the <kernings> node in the generated .fnt file is always empty, even if the font does use kerning.

[2021-01-27 17:49] BladePoint commented on #57
I just generated a .fnt with a filled kerning node, so my original post isn't true.

[2021-01-27 17:49] #57 closed

[2021-02-22 11:40] opheliagame commented on #56
I am also trying to use a charset that is not ASCII. could you explain how you obtained this string, it would be quite helpful

[2021-02-22 13:16] soimy commented on #56
Fixed via #52
I should do a new npm release

[2021-03-07 20:08] Zemledelec opened #61 "Doesn't work with npm run script"
Hi! Thanks again, for this super tool!
It works perfect from cli, but when I try to run npm run font, for example it stucks on zero and do nothing here is an error:

npm run script:
font: `"msdf-bmfont.cmd --reuse  -i .\\fonts\\charset.roboto.txt -m 512,512 -f json -o .\\fonts\\Roboto-Regular.png -s 32 -r 8 -p 1 -t msdf .\\fonts\\Roboto-Regular.ttf"`
Error:
![image](https://user-images.githubuserc

[2021-09-07 01:27] miltoncandelero opened #70 "Add support for MTSDF atlas (a combination of MSDF and true SDF in the alpha channel)"
It is supported by msdfgen so I think it's just a matter of allowing the flag to be passed directly into it🤔

https://github.com/Chlumsky/msdfgen#console-commands

[2021-10-04 19:32] progrematic commented on #36
@BladePoint I had the same issue on WSL.
@ninok 's PR https://github.com/soimy/msdf-bmfont-xml/pull/37 fixed it for me.
Just download his modified binary and install it in `/usr/local/lib/node_modules/msdf-bmfont-xml/bin/linux/msdfgen.linux`

Thanks @ninok !

[2021-12-07 19:39] marnix-warp opened #71 "Is there a way to not add characters when there is no bitmap?"
If a font doesn't have a bitmap, is there a way to not add the character to a font entirely?

`Warning: no bitmap for character '𥕕' (55381), adding to font as empty`

I would like this character to be skipped.

[2021-12-09 11:05] #71 closed

[2022-01-30 11:34] karlos8 opened #73 "Texture size not working"
Hi, first of all thanks for this great tool!

I try to run the following command : msdf-bmfont --reuse -o fonts/arial.png -m 512,512 -s 15 -r 3 -p 1 -t msdf fonts/arial.ttf -f json
and get the following error.

Can someone show me how to create a texture size 512x512?
If I remove the -m 512,512 it uses the default settings and generate 2048x2048 texture image

Using following settings
============

[2022-01-31 12:18] soimy commented on #73
Sorry, can't reproduce. Can you specify your platform and terminal?
Option `--texture-size` shall be comma seperated, but the option summery shows `width _ height`, not `width,height`

[2022-01-31 12:26] karlos8 commented on #73
Hi,
Are you ok with this?
![details](https://user-images.githubusercontent.com/30337386/151793285-df9a988e-7f8b-43da-8b84-8c7ad54bbeea.PNG)

[2022-02-01 14:02] soimy commented on #73
I'm OK but u r not ...

[2022-02-01 14:04] karlos8 commented on #73
What is the cause of the problem...I don't understand.

[2022-02-02 02:38] soimy commented on #73
I suspect the cause might be your terminal locale, some locales use commas as decimal separator.

[2022-02-02 15:22] karlos8 commented on #73
Ok Thanks, I will try in a different terminal to see if the problem still occurs and I will be back : )

[2022-02-04 08:35] karlos8 commented on #73
Hello, You have right! The problem it was from VScode terminal. Thanks so much!

[2022-02-11 06:49] zszq opened #74 "HYHeiLiZhiTiJ.ttf to MSDF"
In the test case, I changed DIN_CB.ttf to HYHeiLiZhiTiJ.ttf can not generate all fonts, especially the Chinese part, what should I do to convert the whole HYHeiLiZhiTiJ.ttf to msdf, including Chinese?

[2022-02-13 05:49] soimy commented on #74
[code]
You can use this option to specify charset files, [sample](https://github.com/soimy/msdf-bmfont-xml/tree/master/assets/charset/) included in this repo.

[2022-02-18 11:55] yeluoyunfei opened #75 "font render will flush for chinese character"
see effect in this recorder, the render is flushing for msyh font. anything need special  configuration for chinese character when generate font file? https://www.awesomescreenshot.com/video/7446970?key=22954558272d0b1c59b120a49ba23265

[2022-02-25 06:35] soimy commented on #75
You mean flashing？ msdf font doesn't perform well on small and sub-pixel font rendering.

[2022-02-27 03:27] #75 closed

[2022-05-02 17:42] Zemledelec opened #77 "Arabic letter wrong glyph"
Hi, @soimy ! I have an issue, I cant understand. Could you help, please.
Letter ڵ
looks like
![image](https://user-images.githubusercontent.com/5452251/166296789-d20bd131-9c9c-4122-a2da-97e932b205c6.png)

I use NotoSansArabic-Regular from google fonts:
`msdf-bmfont.cmd --reuse  -i .\charset.txt -m 1024,1024 -f json -o NotoSansArabic-Regular.ttf.png -s 42 -r 14 -p 1 -t msdf --rtl NotoSansArabic-Reg

[2022-07-25 09:27] soimy opened #79 "Welcome to msdf-bmfont-xml Discussions!"
### Discussed in https://github.com/soimy/msdf-bmfont-xml/discussions/78

<div type='discussions-op-text'>

<sup>Originally posted by **soimy** July 25, 2022</sup>

## 👋 Welcome!
  We’re using Discussions as a place to connect with other members of our community. We hope that you:
  * Ask questions you’re wondering about.
  * Share ideas.
  * Engage with other community members.
  * Welcome others

[2022-08-05 21:14] Zemledelec commented on #61
I use npx

[2022-08-05 21:19] Zemledelec opened #83 "Is it possible to make atlas for multiple characters glyps?"
It 's better to have whole words (towns, countries etc. labels) to render instead of many glyps one by one. Is it possible to get atlas for separate words with bmfont? Thanks!

[2022-08-06 13:53] soimy commented on #61
It seems to be a bug while handling path with space on windows cmd.

[2022-08-06 13:58] soimy commented on #83
msdf-bmfont-xml is not designed for this. Try [TexturePacker](https://www.codeandweb.com/texturepacker) or [Atlasify](https://github.com/soimy/atlasify)

[2022-08-06 17:08] Zemledelec commented on #83
Thanks!

[2022-08-06 17:08] #83 closed